:root {
  --xblue: #6e7da2;
  --xorange: #db996c;
  --xcyan: #aedadd;
  --xwhite: #fcf8f3;
}

body {
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

/* NAVBAR */
.navbar {
  background-color: var(--xblue);
  border-bottom: solid 5px var(--xorange);
}

button span i {
  color: var(--xorange);
}

.nav-link {
  margin-right: 1em;
  color: var(--xwhite);
  font-size: 1.8em;
}

.navbar-brand {
  margin-left: 1em;
  color: var(--xorange);
  font-weight: bold;
  font-size: 2.3em;
}

.nav-link:hover {
  color: var(--xorange);
  text-decoration: underline;
}

.navbar-brand:hover {
  color: var(--xorange);
}

.navbar-nav {
  padding: 2%;
}
/* LANDING */

#landing {
  background-color: var(--xcyan);
  color: var(--xwhite);
  text-shadow: 2px 2px var(--xblue);
}

#landing h1 {
  font-weight: bold;
}

/* PRESENTATION */

#presentation {
  background-color: var(--xwhite);
}

.activity {
  padding: 2em; 5em;
  color: var(--xblue);
}

.activity h2 {
  color: var(--xorange);
}